*, *:not(::before), *:not(::after) {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #000;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden {
  display: none;
}

.button-crossed {
  display: block;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  color: #000;
  border: none;
  background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
  background-color: transparent;
  text-align: center;
}

.button-crossed:hover {
  background-color: #f0c52e;
  background-image: none;
}

.button-crossed:active {
  color: #f7e184;
  background-color: #000000;
  background-image: none;
}
/*Стили элементов верхней строки хедера*/
/*----------------------*/
.main-header {
  width: 1160px;
  margin: 0 auto 60px;
  padding: 0 60px;
  box-sizing: border-box;
  position: relative;
}

.main-header::before {
  content: "";
  width: 1160px;
  height: 300px;
  background-color: #f7e296;
  position: absolute;
  z-index: -1;
  top: 25px;
  margin-left: -60px;
}

.header-logo,
.footer-logo {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.header-logo:hover,
.footer-logo:hover {
  filter: opacity(0.6);
}

.header-logo:active,
.footer-logo:active {
  filter: opacity(0.3);
}

.header-logo {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}

.search-user-row {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.header-searchbar {
  width: 440px;
  min-height: 50px;
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.header-searchbar input {
  filter: opacity(0.3);
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  background-color: transparent;
  border: none;
  outline: none;
  width: 315px;
  height: 45px;
  padding: 0 0 0 40px;
}

.header-searchbar::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
}

.header-searchbar input:hover {
  filter: opacity(0.6);
}

.header-searchbar input:focus {
  filter: none;
  border-bottom: 2px solid #000000;
  margin-bottom: -2px;
}

.header-searchbar button {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  background-color: transparent;
  border: 2px solid #000000;
  padding: 0 20px;
  height: 45px;
  box-sizing: content-box;
}

.header-searchbar button:hover {
  background-color: #000000;
  color: #ffffff;
}

.header-searchbar button:active {
  background-color: #000000;
  color: hsl(0, 0%, 30%);
}

.header-user-panel {
  width: 500px;
  display: flex;
  margin: 0;
  padding: 0;
}

.user-login-panel {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.user-login-panel li:first-child {
  margin-right: 20px;
}

.user-login-panel .user-logout {
  color: rgba(0, 0, 0, 0.3);
}

.header-user-panel a {
  align-items: center;
  color: #000000;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  white-space: nowrap;
  position: relative;
  padding-left: 25px;
}

.header-user-panel a:hover {
  filter: opacity(0.6);
}

.header-user-panel a:active {
  filter: opacity(0.3);
}

a.user-ancor-iconed::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-repeat: no-repeat;
  left: 0;
  top: 4px;
}

.header-custom-user .user-ancor-iconed::before {
  background-image: url("../img/user.svg");
}

.header-custom-compare {
  margin-left: auto;
}

.header-custom-compare .user-ancor-iconed::before {
  background-image: url("../img/compare.svg");
}

.header-custom-cart {
  margin-left: 40px;
}

.header-custom-cart .user-ancor-iconed::before {
  background-image: url("../img/cart.svg");
}
/*----------------------*/

/*Стили элементов навигационного меню хедера*/
/*----------------------*/
.header-nav-list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.header-nav-list > li:first-child {
  flex-basis: 500px;
  margin-right: 40px;
}

.header-nav-list > li:nth-child(2) {
  margin-right: 35px;
}

.header-nav-list > li:last-child {
  margin-left: auto;
}

a.main-menu-item {
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.header-nav-list a:hover {
  filter: opacity(0.6);
}

.header-nav-list a:active {
  filter: opacity(0.3);
}

.catalog-opener {
  display: flex;
  align-items: center;
}

.catalog-opener::after {
  content: "";
  display: block;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  filter: opacity(0.3);
  margin-left: 12px;
}

.catalog-submenu {
  background-color: #f7e296;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1040px;
  height: 110px;
  padding: 16px 0;
  align-content: flex-start;
}

.catalog-submenu li {
  margin-right: 60px;
}

.catalog-submenu li:nth-child(5) {
  margin-bottom: 30px;
}

.catalog-submenu a {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 35px;
  font-weight: normal;
}
/*----------------------*/

/*Стили элементов главного слайдера*/
/*----------------------*/
.promo-slider {
  width: 1040px;
  margin: 0 auto 100px;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-list > li {
  display: flex;
  justify-content: space-between;
}

.slide-image {
  display: flex;
  justify-content: center;
  width: 500px;
}

.slide-image a {
  margin: auto;
}

.slide-content {
  width: 500px;
}

.slider-index {
  display: flex;
  width: inherit;
  position: absolute;
}

.slider-index span {
  font-size: 180px;
  line-height: 140px;
  color: #ffffff;
  margin-left: auto;
  z-index: -1;
}

.slider-message::before {
  content: "";
  display: block;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
  margin: 35px 0 30px 0;
}

.slider-message {
  font-size: 47px;
  line-height: 56px;
  white-space: nowrap;
}

.slider-description {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  margin: 25px 0 50px 0;
}

.slider-showmore {
  width: 220px;
}

.slider-showmore:active {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}

.slider-features {
  margin-top: 50px;
  border-spacing: 0 20px;
}

.slider-feature-values td {
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  width: 160px;
}

.slider-feature-description {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
}

.slider-handlers {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  width: 1040px;
  margin-top: -175px;
  z-index: -1;
}

button.slider-select {
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 5px;
  margin-right: 20px;
}

button.slider-select:last-child::after {
  content: "";
  position: absolute;
  border: 2px solid #000000;
  border-radius: 50%;
  padding: 1px;
  margin: -3px;
}
/*----------------------*/

/*Стили элементов популярных категорий*/
/*----------------------*/
.goods-categories ul {
  display: flex;
  width: 1160px;
  padding: 0;
  margin: 0 auto 80px;
  justify-content: space-between;
}

.goods-category-name {
  width: 160px;
  padding: 0;
}

.goods-category-name a::before {
   content: "";
   background-repeat: no-repeat;
   background-color: rgba(240, 197, 46, 0.5);
   background-position: center;
   width: 160px;
   height: 160px;
   display: block;
  margin-bottom: 40px;
 }

.goods-category-name:nth-child(1) a::before {
  background-image: url("../img/goods-catogory-1.svg");
}

.goods-category-name:nth-child(2) a::before {
  background-image: url("../img/goods-catogory-2.svg");
}

.goods-category-name:nth-child(3) a::before {
  background-image: url("../img/goods-catogory-3.svg");
}

.goods-category-name:nth-child(4) a::before {
  background-image: url("../img/goods-catogory-4.svg");
}

.goods-category-name:nth-child(5) a::before {
  background-image: url("../img/goods-catogory-5.svg");
}

.goods-category-name:nth-child(6) a::before {
  background-image: url("../img/goods-catogory-6.svg");
}

.goods-category-name a:hover::before {
  background-color: rgba(240, 197, 46, 1);
}

.goods-category-name a:active::before {
  background-color: rgba(240, 197, 46, 1);
}

.goods-category-name a:active {
  color: rgba(0, 0, 0, 0.3)
}

.goods-category-name:nth-child(1) a:active::before {
  background-image: url("../img/goods-catogory-1-hover.png");
}

.goods-category-name:nth-child(2) a:active::before {
  background-image: url("../img/goods-catogory-2-hover.png");
}

.goods-category-name:nth-child(3) a:active::before {
  background-image: url("../img/goods-catogory-3-hover.png");
}

.goods-category-name:nth-child(4) a:active::before {
  background-image: url("../img/goods-catogory-4-hover.png");
}

.goods-category-name:nth-child(5) a:active::before {
  background-image: url("../img/goods-catogory-5-hover.png");
}

.goods-category-name:nth-child(6) a:active::before {
  background-image: url("../img/goods-catogory-6-hover.png");
}
/*----------------------*/

/*Стили элементов блока услуг*/
/*----------------------*/
.shop-services {
  background-image: linear-gradient(to bottom, transparent 100px, #e5e5e5 100px);
  width: 100%;
  padding-bottom: 70px;
}

.shop-services .container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.service-categories {
  width: 280px;
  padding: 80px 0;
  margin: 0;
  border-right: 7px solid #000000;
}

.service-categories li {
  margin-bottom: 25px;
}

.service-categories li:active {
  background-color: #000000;
}

.service-categories li:last-child {
  margin-bottom: 0;
}

.service-category button {
  width: 160px;
  padding: 0;
  margin: 0;
  line-height: 40px;
}

.service-descriptions {
  width: 760px;
  margin: 0;
  padding: 60px 0 70px 0;
}

.service-descriptions h3 {
  width: 460px;
  margin: 0 0 35px 0;
  padding-top: 15px;
  font-family: "Gilroy ExtraBold", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
  color: #000000;
}

.service-descriptions p {
  width: 460px;
  margin: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
}

.service-descriptions li::before {
  content: "";
  display: block;
  width: 190px;
  height: 200px;
  float: right;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 45px;
}

.service-descriptions li:first-child::before {
  background-image: url("../img/delivery.svg");
}

.service-descriptions li:nth-child(2)::before {
  background-image: url("../img/warranty.svg");
}

.service-descriptions li:last-child::before {
  background-image: url("../img/credit.svg");
}
/*----------------------*/

/*Стили элементов блока c логотипами брендов*/
/*----------------------*/
.brands{
  width: 1160px;
  margin: 0 auto;
  padding: 100px 0;
}

.brands ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.brands img {
  filter: grayscale(1)
          opacity(0.2);
}

.brands img:hover {
  filter: none;
}
/*----------------------*/

/*Стили элементов блока About*/
/*----------------------*/
.about .container{
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about h3 {
  font-family: "Gilroy ExtraBold", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: bold;
  color: #000000;
}

.about-us {
  width: 500px;
}

.about-us::before,
.about-contacts::before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-us p {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  margin-bottom: 40px;
  margin-top: 0;
}

.about-deliveries {
  width: 560px;
  font-size: 16px;
  line-height: 40px;
  margin: 60px 0 65px;
  padding-left: 25px;
}

.about-deliveries li {
  list-style: circle;
  color: #e5e5e5;
  padding-left: 15px;
}

.about-deliveries span {
  color: #000000;
}

.about .button-crossed {
  display: block;
  width: 260px;
  text-align: center;
  line-height: 40px;
}

.about .button-crossed:active {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}

.about-contacts {
  width: 560px;
}

.about-contacts p {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 40px;
}

.about-contacts img {
  margin-bottom: 75px;
}

.popup-container {
  width: 960px;
  margin: 0 auto;
}

.map-popup {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 960px;
  height: 560px;
  background-image: url("../img/map-big.jpg");
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.3));
  margin-top: 40px;
}

button.close-popup {
  background-image: url("../img/modal-close.svg");
  filter: opacity(0.5);
  background-color: transparent;
  border: none;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: 20px;
}

button.close-popup:hover {
  filter: opacity(1);
}

button.close-popup:active {
  filter: opacity(0.3);
}

.feedback-popup {
  position: absolute;
  width: 960px;
  margin-top: 40px;
  background-color: #ffffff;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.3));
  display: flex;
  flex-direction: column;
}

.feedback-popup .close-popup {
  float: right;
  align-self: flex-end;
}

.feedback-form {
  align-self: center;
  width: 760px;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-form input {
  width: 360px;
  height: 50px;
  box-sizing: border-box;
  padding: 0 20px;
  margin-top: 10px;
  margin-bottom: 35px;
}

.feedback-form textarea {
  width: 760px;
  height: 156px;
  box-sizing: border-box;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.feedback-form input,
.feedback-form textarea {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  background-color: #f2f2f2;
  color: #464646;
  border: none;
  outline: none;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  background-color: #eaeaea;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  background-color: #ffffff;
  border: 3px solid #f0c52e;
}

.feedback-form input:invalid,
.feedback-form textarea:invalid {
  background-color: #f6dada;
}
/*----------------------*/

/*Стили элементов футера*/
/*----------------------*/
.main-footer {
  margin-top: 90px;
  background-color: #464646;
}

.main-footer .container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}

.footer-column:first-child {
  width: 360px;
}

.footer-logo {
  color: #ffc600;
}

.footer-address {
  margin: 30px 0 80px 0;
}

.footer-column:first-child::after {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.main-footer p {
  color: #ffffff;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
}

.footer-column:nth-child(2) {
  width: 440px;
  padding-top: 80px;
}

.footer-nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-nav a {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.footer-nav a:hover {
  filter: opacity(0.6);
}

.footer-nav a:active {
  filter: opacity(0.3);
}

.socials {
  display: flex;
  width: 160px;
  margin: 65px auto 0;
  padding: 0;
  justify-content: space-around;
}

.socials img {
  filter: opacity(0.3);
}

.socials img:hover {
  filter: opacity(0.6);
}

.socials img:active {
  filter: opacity(0.1);
}

.footer-user-panel {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.footer-user-panel > li {
  margin-left: 40px;
}

.footer-custom-user {
  margin-left: auto;
}

.footer-user-panel a {
  display: flex;
  align-items: center;
  color: #ffffff;
  filter: opacity(0.7);
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  white-space: nowrap;
}

.footer-user-panel a:hover {
  filter: opacity(1);
}

.footer-user-panel a:active {
  filter: opacity(0.3);
}

.footer-custom-user .user-ancor-iconed::before {
  background-image: url("../img/user-footer.png");
}

.footer-custom-compare .user-ancor-iconed::before {
  background-image: url("../img/compare-footer.png");
}

.footer-custom-cart .user-ancor-iconed::before {
  background-image: url("../img/cart-footer.png");
}

.footer-column:last-child {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-end;
}

.footer-phone {
  margin: 50px 0 60px;
  text-align: right;
}

.academy-logo:hover {
  filter: opacity(0.6);
}

.academy-logo:active {
  filter: opacity(0.3);
}
/*----------------------*/

/*Стили элементов страницы каталога товаров*/
/*----------------------*/

.catalog-page .main-header::before {
  height: 186px;
}

.catalog-page .main-header {
  margin-bottom: 90px;
}

h1.catalog-heading {
  font-size: 47px;
  line-height: 48px;
  width: 1040px;
  margin: 0 auto 30px;
}

.breadcrumbs {
  width: 1040px;
  margin: 0 auto 50px;
  padding: 0;
  display: flex;
}

.breadcrumbs li {
  margin-right: 15px;
}

.breadcrumbs a {
  filter: opacity(0.3);
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.breadcrumbs a:hover {
  filter: opacity(0.6);
}

.breadcrumbs a:active {
  filter: opacity(0.1);
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  background-color: transparent;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-left: 15px;
}
/*----------------------*/

/*Стили элементов фильтра товаров в каталоге*/
/*----------------------*/
.catalog-page .bg-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.catalog-filters {
  width: 200px;
  padding-left: 60px;
  box-sizing: border-box;
}

.catalog-goods {
  width: 760px;
}

.catalog-filters h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  padding: 25px 0;
  margin-bottom: 70px;
}

.catalog-filters fieldset {
  border: none;
  border-top: 2px solid #000000;
  width: 200px;
  padding: 0;
  margin-bottom: 40px;
}

.catalog-filters h3 {
  line-height: 45px;
  padding: 0;
  margin: 5px 0 25px 0;
}

.price-custom-filter {
  height: 22px;
}

.price-bar-outer {
  width: 196px;
  height: 2px;
  background-color: #dbdbdb;
  position: relative;
}

.price-bar-inner {
  width: 110px;
  height: 2px;
  background-color: #91c92f;
}

.price-bar-slider {
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  top: -10px;
  position: absolute;
}

.price-bar-slider:nth-child(2) {
  left: 100px;
}

.filter-price p {
  display: flex;
  width: 200px;
  margin: 0;
}

.filter-price input {
  background-color: transparent;
  border: none;
  outline: none;
  filter: opacity(0.2);
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  width: 100px;
}

.filter-color {
  display: flex;
  flex-direction: column;
}

.filter-color label::before {
  content: "";
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
  display: inline-block;
  margin-right: 15px;
}

.filter-color label {
  display: flex;
  align-items: center;
}

.catalog-filters label {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: normal;
}

.filter-bluetooth {
  display: flex;
  flex-direction: column;
}

.filter-bluetooth label {
  display: flex;
  align-items: center;
}

.filter-bluetooth label::before {
  content: "";
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 15px;
}

.filter-bluetooth label:nth-child(2)::before {
  background-image: url("../img/radio-on.svg");
}

.filter-bluetooth label:last-child::before {
  background-image: url("../img/radio-off.svg");
}

.catalog-filters .button-crossed {
  width: 200px;
}

.catalog-filters .button-crossed:active {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}
/*----------------------*/

/*Стили элементов сортировки товаров в каталоге*/
/*----------------------*/
.catalog-goods-sort {
  background-color: rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
}

.catalog-goods-sort p {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  margin-right: 45px;
}

.catalog-goods-sort ul {
  display: flex;
  padding: 0;
}
.sort-types li {
  margin-right: 25px;
}

.sort-dir-buttons {
  margin-left: auto;
}

.sort-dir-buttons li {
  margin-left: 15px;
}

.catalog-goods-sort a {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

.catalog-goods-sort a:not(.sort-chosen) {
  filter: opacity(0.3);
}

.catalog-goods-sort a:not(.sort-chosen):hover {
  filter: opacity(0.6);
}

.catalog-goods-sort a:not(.sort-chosen):active {
  filter: opacity(1);
}

.catalog-goods-sort button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  width: 11px;
  height: 10px;
}

.goods-sort-up-dir {
  background-image: url("../img/icon-up-dir.svg");
}

.goods-sort-down-dir {
  background-image: url("../img/icon-down-dir.svg");
}

.catalog-goods-sort button:not(.sort-dir-chosen) {
  filter: opacity(0.2);
}

.catalog-goods-sort button:not(.sort-dir-chosen):hover {
  filter: opacity(0.4);
}

.catalog-goods-sort button:not(.sort-dir-chosen):active {
  filter: none;
}
/*----------------------*/

/*Стили элементов товаров в каталоге*/
/*----------------------*/
.goods-list {
  padding: 70px 0 0 0;
  margin: 0 0 30px 0;
  display: flex;
  flex-wrap: wrap;
}

.goods-list li:nth-child(2n-1) {
  margin-right: 40px;
}

.product-spec {
  display: flex;
  width: 360px;
  justify-content: space-between;
  align-items: baseline;
}

.product-spec h3 {
  font-size: 18px;
  line-height: 24px;
}

.product-price {
  font-family: "Gilroy Light", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  flex-shrink: 0;
  margin-left: 20px;
}

.goods-list li {
  position: relative;
}

.goods-list .add-to-buttons {
  width: 360px;
  height: 380px;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(238, 238, 238, 0.7);
  top: 0;
  left: 0;
  align-items: center;
}

button.add-to-cart {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  color: #000;
  border: none;
  background-color: transparent;
  width: 200px;
  margin-top: 20px;
}

button.add-to-cart:hover {
  background-color: #f0c52e;
}

button.add-to-cart:active {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}

button.add-to-compare {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 36px;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
}

button.add-to-compare:hover {
  color: rgba(0, 0, 0, 1);
}

button.add-to-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.product-new {
  background-image: url("../img/product-new.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 30px;
  top: 30px;
}

.page-navigation {
  background-color: rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.page-navigation a {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
}

.page-navigation > a {
  padding: 25px 30px;
}

.catalog-page-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.catalog-page-list li:not(:last-child) {
  margin-right: 30px;
}

.catalog-previous-page:hover,
.catalog-next-page:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.catalog-previous-page:active,
.catalog-next-page:active {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.page-navigation a:not(.catalog-current-page) {
  filter: opacity(0.3);
}

.page-navigation a:not(.catalog-current-page):hover {
  filter: opacity(0.6);
}

.page-navigation a:not(.catalog-current-page):active {
  filter: none;
}

.catalog-page .main-footer {
  margin-top: 80px;
}


